<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Website</title>
    <link rel="stylesheet" href="/css/main.css">
    <script src="https://d3js.org/d3.v6.min.js"></script>
  
   


</head>
<body class="body-class">
    <header>
        <!-- My header content here -->
       <nav class="nav-bar">
    <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/gods">Greek Gods</a></li>
    <li><a href="/family-tree">Family Tree</a></li>
    <li><a href="/games">Games</a></li>
    <li><a href="/Hades">Hades</a></li>
  </ul>
  <form action="/search" method="get">
        <input type="text" name="query" placeholder="Search...">
        <button type="submit">Search</button>
    </form>
</nav>
    </header>

    {{{body}}}

    <footer>
        <!-- My footer content here -->
    </footer>
</body>
</html>
