<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" type="text/css" href="main.scss">
  <title>{{title}}</title>
</head>
<body>
 <div class="home-page">

<div class="home-logo">
  <h1>Greek Mythos</h1>
  <div class="logo">
     <img src="/photos/logo.jpg" alt="logo">
 </div>
</div>
 

  <div class="content">
  <p>Welcome to the captivating world of Greek mythology! Our website, the Greek Gods Family Tree, is an immersive and educational journey into the realm of ancient gods and goddesses. Embark on a fascinating adventure as you trace the lineage of mighty Titans, Olympians, and other mythical beings through our interactive family tree. Unveil the rich stories and attributes of these divine figures, and immerse yourself in the awe-inspiring art that brings their tales to life.
<br> <br>
Prepare to be enchanted by the intricate relationships between gods and goddesses, their powers, and the roles they play in the mythological tapestry. From Zeus, the king of the gods, wielding thunder and lightning, to Aphrodite, the goddess of love and beauty, our website is a treasure trove of captivating tales and remarkable illustrations.
<br> <br>
As stewards of these extraordinary stories, we take great care in presenting accurate and well-researched information. Whether you're a mythology enthusiast, a student, or simply curious about ancient legends, our user-friendly interface ensures a seamless and enjoyable journey through the divine family tree. Explore the timeless myths that have shaped cultures throughout history and embark on a mythological odyssey like no other.
</p>

    <img src="/photos/Olympus.jpg" alt="Olympus1">
</div>
  <!-- Other content -->
  <style>
    .node circle {
  fill: lightsteelblue;
}

.node text {
  font: 12px sans-serif;
}

.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 1.5px;
}
  </style>
<div id="familyTree"></div>
 
    <script type="application/x-javascript" src="/scripts/main.js"></script>



</body>
</html>
