// you should probably put the colours that you intend to use in here to save time
// this way you can just reference a name rather than the colour 


// for example

$primary-color: #fff;
$secondary-color: #fff;
$hades-1: black;
$zeus-1: blue;
$hera-1: rgb(134, 61, 134);
$posiedon-1:rgb(79, 175, 219);
$ares-1: red;
$hermes-1: rgb(212, 119, 43);
$demeter-1: green;
$apollo-1: yellow;



// then in another sheet you can be like
// background-color: $primary-color;
